@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
    margin-top: 20px;
    background-image: url(images/img6.png);
    background-position: center;
      background-repeat: no-repeat;
    background-size: cover;
      overflow: hidden;
}

  body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: inherit;
      background-position: inherit;
      background-repeat: inherit;
      background-size: inherit;
      filter: blur(2.5px); 
      z-index: -1; 
  }
.wrapper {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-text {
    background-color: #ffffff;
    color: #031f5a;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.title.login {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.imgcontainer {
    text-align: center;
}

.avatar {
    height: 20vh;
}

.form-container {
    padding: 20px;
}

.field {
    padding: 0 20px 10px 0;
    margin-bottom: 15px;
    text-align: center;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
}
input[type="number"]{
    height: 45px;
    width:42px ;
}
.input-field input{
    height: 45px;
    width:42px ;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd; 

}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-inner-spin-button{
    display: none;

}
button {
    padding: 10px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Style the OTP form step */
.forgot-password#step2 {
    display: none;
}
.forgot-password#step3 {
    display: none;
}
#text2{
    display: none;
}
#text3{
    display: none;
}
/* Add some spacing between elements */
.pass-link {
    margin-top: 10px;
}

@media screen and (max-width: 600px){
.wrapper{
    max-width: 330px;
}

}
